<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>List Knights</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="starter-template">
            <h1>Knights</h1>
        </div>
        <tr th:each="knight: ${knights}">
            <td height="50" align="center">
                <h2> Sir <span th:text="${knight.name}"></span> the <span th:text="${knight.epithet}"></span></h2>
            </td>
        </tr>

    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <script src="/js/hello.js"></script>
</th:block>
</html>